@import './variables.scss';

.add-collection__container {
    width: 100%;
    .input {
        width: 100%;
    }
    .actions {
        width: 100%;
        display: flex; justify-content: center;
        button {
            background: none; border: none;
        }
        .icon-accept, .icon-cancel {
            font-size: 32px;
            height: 40px;
            &:hover {
                cursor: pointer;
            }
        }
        .icon-accept {
            margin-left: 25px;
            color: $color-button-success;
        }
        .icon-cancel {
            color: $color-button-danger;
        }
    }
}