@import './variables.scss';

.navigation {
  width: 250px; height: 100%;
  display: flex; flex-direction: column; justify-content: space-between;
  border-right: 1px solid darken($color: $color-accent-dark, $amount: 50);
  background: $color-accent-dark;
  p {
    color: $color-light;
  }
  .top {
    .profile__container {
      width: 100%;
      display: flex; align-items: flex-start;
      padding: 10px;
      border-bottom: 1px solid darken($color: $color-accent-dark, $amount: 50);
      .image {
          margin-right: 10px;
          font-size: 40px;
          color: $color-light;
      }
      .text {
          .welcome {
              font-size: 14px;
          }
          .username {
              font-size: 18px;
          }
      }
    }
    .add-collection__link {
        height: 32px;
        display: flex; justify-content: center; align-items: center;
        background: #0F1F2F;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        .icon {
          margin-right: 5px;
          font-size: 24px;
          color: #157347;
        }
        .text {
          font-size: 18px;
          color: #ddd;
        }
        &:hover {
          cursor: pointer;
          background: $color-button-success;
          .icon {
            color: #0F1F2F;
          }
        }
    }
    .note__link {
      max-height: 110px;
      display: flex; justify-content: space-between;
      padding: 10px;
      overflow: hidden;
      border-bottom: 1px solid darken($color: $color-accent-dark, $amount: 50);
      &:hover {
        background: lighten($color: $color-accent-dark, $amount: 10);
        cursor: pointer;
      }
      .title {
        font-size: 18px;
        white-space: pre-line;
      }
    }
    .active {
      background: lighten($color: $color-accent-dark, $amount: 10);
    }
  }
  .bottom {
    width: 100%;
    padding: 5px;
    .icon-logout {
      font-size: 32px;
      color: #BB2D3B;
      &:hover {
        cursor: pointer;
      }
    }
  }
}